axis2-war/src/test/resources/TestAttributeNamespaces/HelloWorld2.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions 
    targetNamespace="http://ode/bpel/unit-test.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://ode/bpel/unit-test.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:myns="myns"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="myns">   

            <xsd:complexType name="MagicPixie">
                <xsd:sequence>
                    <xsd:element name="value" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DustyMagicPixie">
              <xsd:complexContent>
                <xsd:extension base="myns:MagicPixie">
                  <xsd:sequence>
                    <xsd:element name="dust" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>                      
            
            <xsd:element name="hello">
                <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element name="in" type="myns:MagicPixie" nillable="false" minOccurs="1" maxOccurs="1"/>
                  </xsd:sequence>
                </xsd:complexType>          
            </xsd:element>
            <xsd:element name="helloResponse">
                <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element name="out" type="myns:MagicPixie" nillable="false" minOccurs="1" maxOccurs="1"/>
                  </xsd:sequence>
                </xsd:complexType>          
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="helloRequest">
        <wsdl:part name="parameters" element="myns:hello" />
    </wsdl:message>
    <wsdl:message name="helloResponse">
        <wsdl:part name="parameters" element="myns:helloResponse" />
    </wsdl:message>
    
    
    <wsdl:portType name="HelloPortType">
      <wsdl:operation name="hello">
        <wsdl:input message="tns:helloRequest" name="helloRequest" />
        <wsdl:output message="tns:helloResponse" name="helloResponse" />
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="HelloSoapBinding" type="tns:HelloPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="hello">
            <soap:operation soapAction=""/>
            <wsdl:input name="helloRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="helloResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding> 
   
    <wsdl:service name="HelloService">
        <wsdl:port name="HelloPort" binding="tns:HelloSoapBinding">
            <soap:address location="http://localhost:8888/ode/processes/attrNSWorld"/>
        </wsdl:port>
    </wsdl:service>   
    
   <plnk:partnerLinkType name="HelloPartnerLinkType">
       <plnk:role name="me" portType="tns:HelloPortType"/>
       <plnk:role name="you" portType="tns:HelloPortType"/>
   </plnk:partnerLinkType>
</wsdl:definitions>

