bpel-test/src/test/resources/bpel/2.0/TestXPathNamespace1/TestXPathNamespace1.wsdl

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<wsdl:definitions 
  targetNamespace="http://ode/bpel/unit-test/TestXPathNamespace1.wsdl"
  xmlns:tns="http://ode/bpel/unit-test/TestXPathNamespace1.wsdl"
  xmlns:types1="http://ode/bpel/unit-test/TestXPathNamespace1.wsdl.types1"
  xmlns="http://ode/bpel/unit-test/TestXPathNamespace1.wsdl"
  xmlns:prb="http://ode/bpel/unit-test/ProbeService.wsdl"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"      
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:bpws="http://docs.oasis-open.org/wsbpel/2.0/process/executable">
    
  <!-- type defs -->
  <wsdl:types>
 
     <xsd:schema
       targetNamespace="http://ode/bpel/unit-test/TestXPathNamespace1.wsdl.types1"
       xmlns="http://ode/bpel/unit-test/TestXPathNamespace1.wsdl.types1"
       xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="typeIndicator">
	  <xsd:sequence>
	    <xsd:element name="indicatorOne" type="xsd:string"/>
	    <xsd:element name="indicatorTwo" type="xsd:string"/>
        </xsd:sequence>
	</xsd:complexType>

      <xsd:complexType name="testMessage">
        <xsd:sequence>
          <xsd:element name="requestID" type="xsd:string"/>
          <xsd:element name="requestText" type="xsd:string"/>
          <xsd:element name="typeIndicators" type="typeIndicator"/>
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="requestMessage1">
     <wsdl:part name="requestMessageData" type="types1:testMessage"/>
  </wsdl:message>
   
  <wsdl:message name="replyMessage1">
    <wsdl:part name="replyID" type="xsd:string"/>
    <wsdl:part name="replyText" type="xsd:string"/>
  </wsdl:message>
   

   <!-- portType supported by the test2 process -->

  <wsdl:portType name="TestXPathNamespace1PT">
    <wsdl:operation name="request">
      <wsdl:input message="requestMessage1"/>
      <wsdl:output message="replyMessage1"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="TestXPathNamespace1Binding" type="tns:TestXPathNamespace1PT">
    <wsdl:operation name="request">
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestXPathNamespace1Service">
    <wsdl:port name="TestXPathNamespace1Port" binding="tns:TestXPathNamespace1Binding">
    </wsdl:port>
  </wsdl:service>

  <plnk:partnerLinkType name="TestXPathNamespace1Request">
    <plnk:role name="TestXPathNamespace1Service" portType="TestXPathNamespace1PT"/>
   </plnk:partnerLinkType>

   <plnk:partnerLinkType name="probeRequest">
	<plnk:role name="probeService" portType="prb:probeMessagePT"/>
   </plnk:partnerLinkType>

</wsdl:definitions>
