bpel-compiler/src/test/resources/org/apache/ode/bpel/compiler/MultipleEmbeddedSchemas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ode/test/compile.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:t1="http://mytest1" xmlns:t2="http://mytest2" targetNamespace="http://ode/test/compile.wsdl">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mytest1">
      <xsd:complexType name="MyBean1">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="bubble" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mytest2">
      <xsd:complexType name="MyBean2">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="bubble" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TestMessage">
    <wsdl:part name="TestPart" type="xsd:string"/>
    <wsdl:part name="TestPart2" type="t1:MyBean1"/>
    <wsdl:part name="TestPart3" type="t2:MyBean2"/>
  </wsdl:message>
  <wsdl:portType name="TestPortType">
    <wsdl:operation name="testOperation">
      <wsdl:input message="tns:TestMessage" name="TestIn"/>
      <wsdl:output message="tns:TestMessage" name="TestOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <bpws:property name="testProp" type="xsd:string"/>
</wsdl:definitions>
