bpel-scripts/src/main/resources/1.1/good/eventhandlers/onmessage-1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
  xmlns:foo="http://test.ns" 
  targetNamespace="http://test.ns">
 
  

  
  <message name="booleanWrapperMessage">
    <part name="result" element="foo:boolean"/>
  </message>
  <message name="intWrapperMessage">
    <part name="intPart" element="foo:int"/>
  </message>
  <message name="stringWrapperMessage">
    <part name="stringPart" type="xsd:string"/>
  </message>

  <portType name="testPort">
    <documentation>The port to send a true or false to.</documentation>
    <operation name="testOperation">
      <input message="foo:stringWrapperMessage"/>
      <output message="foo:stringWrapperMessage"/>
    </operation>
    <operation name="oneWayOperation">
      <input message="foo:stringWrapperMessage"/>
    </operation>
  </portType>
    <!-- properties for simple correlation sets -->
  <bpws:property name="x" type="xsd:int"/>
  <bpws:property name="y" type="xsd:string"/>
  <bpws:property name="z" type="xsd:boolean"/>
    <bpws:propertyAlias propertyName="foo:x" messageType="foo:intWrapperMessage"
    part="intPart"/>
  <bpws:propertyAlias propertyName="foo:y" messageType="foo:stringWrapperMessage"
    part="stringPart" />
  <bpws:propertyAlias propertyName="foo:z" messageType="foo:booleanWrapperMessage"
    part="result" />
  <plnk:partnerLinkType name="outcomePartnerType">
    <plnk:role name="outcomeRole">
      <plnk:portType name="foo:testPort"/>
    </plnk:role>
  </plnk:partnerLinkType>

</definitions>
