bpel-test/src/test/resources/bpel/2.0/TestIMA/TestIMA.wsdl

<?xml version="1.0"?>
<!--
    ~ Licensed to the Apache Software Foundation (ASF) under one
    ~ or more contributor license agreements.  See the NOTICE file
    ~ distributed with this work for additional information
    ~ regarding copyright ownership.  The ASF licenses this file
    ~ to you under the Apache License, Version 2.0 (the
    ~ "License"); you may not use this file except in compliance
    ~ with the License.  You may obtain a copy of the License at
    ~
    ~    http://www.apache.org/licenses/LICENSE-2.0
    ~
    ~ Unless required by applicable law or agreed to in writing,
    ~ software distributed under the License is distributed on an
    ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    ~ KIND, either express or implied.  See the License for the
    ~ specific language governing permissions and limitations
    ~ under the License.
-->
<definitions name="TestIMA"
        targetNamespace="http://ode/bpel/unit-test/TestIMA.wsdl"
        xmlns:tns="http://ode/bpel/unit-test/TestIMA.wsdl"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
        >

    <message name="TestIMAMessage">
        <part name="payload" type="xsd:string"/>
        <part name="value" type="xsd:string"/>
    </message>

    <portType name="TestIMA">
        <operation name="process">
            <input  message="tns:TestIMAMessage" />
            <output message="tns:TestIMAMessage"/>
        </operation>
        <operation name="complete">
            <input  message="tns:TestIMAMessage" />
            <output message="tns:TestIMAMessage"/>
        </operation>
        <operation name="inOnly">
        	<input message="tns:TestIMAMessage"></input>
        </operation>
        <operation name="inOut">
            <input message="tns:TestIMAMessage"></input>
            <output message="tns:TestIMAMessage"></output>
        </operation>
        <operation name="inOut2">
        	<input message="tns:TestIMAMessage"></input>
        	<output message="tns:TestIMAMessage"></output>
        </operation>
        <operation name="inOut3">
            <input message="tns:TestIMAMessage"></input>
            <output message="tns:TestIMAMessage"></output>
        </operation>
        <operation name="inOut4">
            <input message="tns:TestIMAMessage"></input>
            <output message="tns:TestIMAMessage"></output>
        </operation>
    </portType>
  
    <plnk:partnerLinkType name="TestIMAPL">
        <plnk:role name="TestIMAProvider" portType="tns:TestIMA"/>
    </plnk:partnerLinkType>
    <vprop:property name="input" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:input" messageType="tns:TestIMAMessage" part="payload" type="xsd:string"/>
</definitions>
