axis2-war/src/test/resources/TestRampartPolicy/secured-services/process-template/echo-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:ns0="{sample.namespace}"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
          targetNamespace="{sample.namespace}">
   <wsdl:types>
       <xs:schema xmlns:ns="{sample.namespace}"
                 attributeFormDefault="qualified"
                 elementFormDefault="qualified"
         targetNamespace="{sample.namespace}">
         <xs:element name="echo">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="param0" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="echoResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="echoRequest">
      <wsdl:part name="parameters" element="ns0:echo"/>
   </wsdl:message>
   <wsdl:message name="echoResponse">
      <wsdl:part name="parameters" element="ns0:echoResponse"/>
   </wsdl:message>
   <wsdl:portType name="{sample.service.name}PortType">
      <wsdl:operation name="echo">
         <wsdl:input message="ns0:echoRequest" wsaw:Action="urn:echo"/>
         <wsdl:output message="ns0:echoResponse" wsaw:Action="urn:echoResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="{sample.service.name}SOAP11Binding" type="ns0:{sample.service.name}PortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="echo">
         <soap:operation soapAction="urn:echo" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="{sample.service.name}">
      <wsdl:port name="{sample.service.name}SOAP11port_http" binding="ns0:{sample.service.name}SOAP11Binding">
         <soap:address location="http://localhost:8888/axis2/processes/{sample.service.name}"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>