axis2-war/src/test/resources/TestClusteredOutgoingTraffic/PingPong.wsdl

<?xml version="1.0"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<definitions name="PingPong"
        targetNamespace="urn:/PingPong"
        xmlns:tns="urn:/PingPong"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
        xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:p="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:/PingPong">
          <xsd:element name="Pong">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="in" type="xsd:string"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="PongResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="out" type="xsd:string"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="Ping">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="in" type="xsd:string"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="PingResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="out" type="xsd:string"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element></xsd:schema>
    </types>

    <message name="PongRequest">
      <part name="parameters" element="tns:Pong"></part>
    </message>
    <message name="PongResponse">
      <part name="parameters" element="tns:PongResponse"></part>
    </message>
    <message name="PingRequest">
      <part name="parameters" element="tns:Ping"></part>
    </message>
    <message name="PingResponse">
      <part name="parameters" element="tns:PingResponse"></part>
    </message>
    <portType name="PingPongPortType">
        <operation name="Pong">
          <input message="tns:PongRequest"></input>
          <output message="tns:PongResponse"></output>
        </operation>
        <operation name="Ping">
          <input message="tns:PingRequest"></input>
          <output message="tns:PingResponse"></output>
        </operation>
    </portType>

    <plnk:partnerLinkType name="PingPongPLT">
        <plnk:role name="Provider" portType="tns:PingPongPortType"/>
    </plnk:partnerLinkType>
</definitions>
