axis2-war/src/test/resources/TestRampartBkp/sample01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:ns0="http://sample01.samples.rampart.apache.org"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://sample01.samples.rampart.apache.org">
   <wsdl:types>
      <xs:schema xmlns:ns="http://sample01.samples.rampart.apache.org"
                 attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://sample01.samples.rampart.apache.org">
         <xs:element name="echo">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="param0" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="echoResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="echoRequest">
      <wsdl:part name="parameters" element="ns0:echo"/>
   </wsdl:message>
   <wsdl:message name="echoResponse">
      <wsdl:part name="parameters" element="ns0:echoResponse"/>
   </wsdl:message>
   <wsdl:portType name="sample01PortType">
      <wsdl:operation name="echo">
         <wsdl:input message="ns0:echoRequest" wsaw:Action="urn:echo"/>
         <wsdl:output message="ns0:echoResponse" wsaw:Action="urn:echoResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="sample01SOAP11Binding" type="ns0:sample01PortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="echo">
         <soap:operation soapAction="urn:echo" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="sample01SOAP12Binding" type="ns0:sample01PortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="echo">
         <soap12:operation soapAction="urn:echo" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="sample01HttpBinding" type="ns0:sample01PortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="echo">
         <http:operation location="sample01/echo"/>
         <wsdl:input>
            <mime:content type="text/xml" part="echo"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="echo"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="sample01">
      <wsdl:port name="sample01SOAP11port_http" binding="ns0:sample01SOAP11Binding">
         <soap:address location="http://localhost:8080/axis2/processes/sample01"/>
      </wsdl:port>
      <wsdl:port name="sample01SOAP12port_http" binding="ns0:sample01SOAP12Binding">
         <soap12:address location="http://localhost:8080/axis2/processes/sample01"/>
      </wsdl:port>
      <wsdl:port name="sample01Httpport" binding="ns0:sample01HttpBinding">
         <http:address location="http://localhost:8080/axis2/processes/sample01"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>