axis2-war/src/test/resources/TestCorrelationCustomSoapHeader/wsdlWithheaders.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<wsdl:definitions xmlns:pnlk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/wsdlwithheader/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsdlwithheader" targetNamespace="http://www.example.org/wsdlwithheader/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/wsdlwithheader/">
      <xsd:element name="request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="correlattionWithHeadersRequest">
    <wsdl:part element="tns:request" name="parameters"/>

    <wsdl:part name="header" element="tns:request"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="correlattionWithHeadersResponse">
    <wsdl:part element="tns:response" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="wsdl-with-header">
    <wsdl:operation name="correlattionWithHeaders">
      <wsdl:input message="tns:correlattionWithHeadersRequest"/>
      <wsdl:output message="tns:correlattionWithHeadersResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsdl-with-headerSOAP" type="tns:wsdl-with-header">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="correlattionWithHeaders">
      <soap:operation soapAction="http://www.example.org/wsdl-with-header/correlattionWithHeaders"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header use="literal"  message="tns:correlattionWithHeadersRequest" part="header"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsdl-with-header">
    <wsdl:port binding="tns:wsdl-with-headerSOAP" name="wsdl-with-headerSOAP">
      <soap:address location="http://localhost:8080/ode/processes/correlationWithHeaders"/>
    </wsdl:port>
  </wsdl:service>
 
</wsdl:definitions>
