_br-ode-1.X.svn/bpel-test/src/test/resources/bpel/2.0/TestCorrelationOpaque/TestCorrelationOpaque.wsdl

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<wsdl:definitions targetNamespace="http://ode/bpel/unit-test/testCorrelationOpaque.wsdl" xmlns:tns="http://ode/bpel/unit-test/testCorrelationOpaque.wsdl"
  xmlns="http://ode/bpel/unit-test/testCorrelationOpaque.wsdl" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:bpws="http://docs.oasis-open.org/wsbpel/2.0/process/executable" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:message name="operation1Request">
    <wsdl:part name="newParameter1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="operation2Request">
    <wsdl:part name="newParameter1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="operation2Response">
    <wsdl:part name="newParameter1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="testCorrelationOpaquePT">
    <wsdl:operation name="operation2">
      <wsdl:input name="operation2Input" message="tns:operation2Request"/>
      <wsdl:output name="operation2Output" message="tns:operation2Response"/>
    </wsdl:operation>
    <wsdl:operation name="operation1">
      <wsdl:input name="operation1Input" message="tns:operation1Request"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="testCorrelationOpaqueBinding" type="tns:testCorrelationOpaquePT">
    <wsdl:operation name="operation2">
      <wsdl:input name="operation2Input"> </wsdl:input>
      <wsdl:output name="operation2Output"> </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="operation1">
      <wsdl:input name="operation1Input"> </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="testCorrelationOpaqueService">
    <wsdl:port name="testCorrelationOpaquePort" binding="tns:testCorrelationOpaqueBinding"> </wsdl:port>
  </wsdl:service>

  <plnk:partnerLinkType name="testCorrelationOpaqueRequest1">
    <plnk:role name="testCorrelationOpaqueService1" portType="testCorrelationOpaquePT"/>
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="testCorrelationOpaqueRequest2">
    <plnk:role name="testCorrelationOpaqueService2" portType="testCorrelationOpaquePT"/>
  </plnk:partnerLinkType>


</wsdl:definitions>
