bpel-scripts/src/main/resources/1.1/good/correlation/correlation2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
  xmlns:foo="http://test.ns" 
  targetNamespace="http://test.ns">
 
  

  
  <message name="booleanWrapperMessage">
    <part name="result" element="foo:boolean"/>
  </message>
  <message name="intWrapperMessage">
    <part name="intPart" element="foo:int"/>
  </message>
  <message name="stringWrapperMessage">
    <part name="stringPart" element="foo:string"/>
  </message>

  <portType name="testPort">
    <documentation>The port to send a true or false to.</documentation>
    <operation name="testOperation">
      <input message="foo:stringWrapperMessage"/>
      <output message="foo:stringWrapperMessage"/>
    </operation>
    <operation name="oneWayOperation">
      <input message="foo:stringWrapperMessage"/>
    </operation>
  </portType>
  <!--portType name="echoPort">
    <documentation>Just send back the int that came in.</documentation>
    <operation name="echoInt">
      <input message="foo:intWrapperMessage"/>
      <output message="foo:intWrapperMessage"/>
    </operation>
    <operation name="echoString">
      <input message="foo:stringWrapperMessage"/>
      <output message="foo:stringWrapperMessage"/>
    </operation>
  </portType-->
    <!-- properties for simple correlation sets -->
  <bpws:property name="x" type="xsd:int"/>
  <bpws:property name="y" type="xsd:string"/>
  <bpws:property name="z" type="xsd:boolean"/>
    <bpws:propertyAlias propertyName="foo:x" messageType="foo:intWrapperMessage"
    part="intPart"/>
  <bpws:propertyAlias propertyName="foo:y" messageType="foo:stringWrapperMessage"
    part="stringPart" />
  <bpws:propertyAlias propertyName="foo:z" messageType="foo:booleanWrapperMessage"
    part="result" />
  <plnk:partnerLinkType name="outcomePartnerType">
    <plnk:role name="outcomeRole">
      <plnk:portType name="foo:testPort"/>
    </plnk:role>
  </plnk:partnerLinkType>

</definitions>
