bpel-scripts/src/main/resources/1.1/good/correlation/correlation1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
  xmlns:foo="http://test.ns"
  xmlns:tns="http://test.ns"
  targetNamespace="http://test.ns">
  <documentation>Silly WSDL for testing BPEL processes.</documentation>
  <types>
    <xsd:schema targetNamespace="http://test.ns">
      
      <xsd:element name="int" type="xsd:int" />
      
      <xsd:element name="string" type="xsd:string" />
      
      <xsd:element name="boolean" type="xsd:boolean" />
      
    </xsd:schema>
        </types>
  

  
  <message name="booleanWrapperMessage">
    <part name="result" element="foo:boolean"/>
  </message>
  <message name="intWrapperMessage">
    <part name="intPart" element="foo:int"/>
  </message>
  <message name="stringWrapperMessage">
    <part name="stringPart" element="foo:string"/>
  </message>

  <portType name="testPort">
    <documentation>The port to send a true or false to.</documentation>
    <operation name="testOperation">
      <input message="foo:stringWrapperMessage"/>
      <output message="foo:stringWrapperMessage"/>
    </operation>
    <operation name="oneWayOperation">
      <input message="foo:stringWrapperMessage"/>
    </operation>
  </portType>
    <!-- properties for simple correlation sets -->
  <bpws:property name="x" type="xsd:int"/>
  <bpws:property name="y" type="xsd:string"/>
  <bpws:property name="z" type="xsd:boolean"/>

  <bpws:propertyAlias propertyName="tns:x" messageType="tns:intWrapperMessage"
    part="intPart"/>
  <bpws:propertyAlias propertyName="tns:y" messageType="tns:stringWrapperMessage"
    part="stringPart" />
  <bpws:propertyAlias propertyName="tns:z" messageType="tns:booleanWrapperMessage"
    part="result" />

  <plnk:partnerLinkType name="outcomePartnerType">
    <plnk:role name="outcomeRole">
      <plnk:portType name="foo:testPort"/>
    </plnk:role>
  </plnk:partnerLinkType>
</definitions>
