examples/src/examples/Retailer/AggregatorRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://jlo/bpel/AggregatorRequest.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="customerId">
    <xsd:sequence>
      <xsd:element name="customerId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lineItems">
    <xsd:sequence>
      <xsd:element name="item1" type="xsd:integer"/>
      <xsd:element name="item2" type="xsd:integer"/>
      <xsd:element name="item3" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
