_br-ode-1.X.svn/axis2-war/src/test/resources/TestThrowOnEvent/OnEventCorrelation.xsd

<schema attributeFormDefault="unqualified" 
        elementFormDefault="qualified" 
        targetNamespace="http://sample.bpel.org/bpel/sample" 
        xmlns="http://www.w3.org/2001/XMLSchema"
        >
        
    <element name="OnEventCorrelationRequest">
        <complexType>
            <sequence>
                <element name="input" type="string" />
            </sequence>
        </complexType>
    </element>
          
    <element name="OnEventCorrelationResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    
</schema>
