bpel-scripts/src/main/resources/2.0/good/AsyncProcess/responder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<definitions
  name="Responder"
  targetNamespace="uri:com.bptest.responder"
  xmlns:resp="uri:com.bptest.responder"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/"
  xmlns:typ="uri:com.bptest.types"
  xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="uri:com.bptest.types" schemaLocation="types.xsd"/>
      </schema>
   </types>

   <message name="AsyncRequestMessage">
      <part name="payload" element="typ:AsyncRequest"/>
   </message>

   <message name="ResponseMessage">
      <part name="payload" element="typ:AsyncRequest"/>
   </message>

   <portType name="ResponderPT">
      <operation name="BookOrder">
         <input message="resp:AsyncRequestMessage"/>
      </operation>
      <operation name="PaperOrder">
         <input message="resp:AsyncRequestMessage"/>
      </operation>
   </portType>

   <portType name="CallbackPT">
      <operation name="Callback">
         <input message="resp:ResponseMessage"/>
      </operation>
   </portType>

   <binding name="ResponderBIND" type="resp:ResponderPT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="BookOrder">
         <soap:operation/>
         <input>
            <soap:body use="literal"/>
         </input>
      </operation>
       <operation name="PaperOrder">
         <soap:operation />
         <input>
            <soap:body use="literal"/>
         </input>
      </operation>
   </binding>

   <bpws:property name="OrderId" type="xsd:string" />

   <bpws:propertyAlias
      propertyName="resp:OrderId"
      messageType="resp:ResponseMessage"
      part="payload">
      <bpws:query queryLanguage="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath1.0">
        /typ:AsyncRequest/typ:Order/typ:OrderId
      </bpws:query>
    </bpws:propertyAlias>

   <bpws:propertyAlias
      propertyName="resp:OrderId"
      messageType="resp:AsyncRequestMessage"
      part="payload">
      <bpws:query queryLanguage="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath1.0">
        /typ:AsyncRequest/typ:Order/typ:OrderId
      </bpws:query>
   </bpws:propertyAlias>

   <plnk:partnerLinkType name="AsyncCallerResponderLT">
      <plnk:role name="Responder" portType="resp:ResponderPT"/>
      <plnk:role name="Caller" portType="resp:CallbackPT"/>
   </plnk:partnerLinkType>

</definitions>
