examples/src/examples/DynPartner/Responder.wsdl

<?xml version="1.0" encoding="utf-8" ?>

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions
        targetNamespace="http://ode/bpel/responder.wsdl"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://ode/bpel/responder.wsdl"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
        xmlns:wsa="http://www.w3.org/2005/08/addressing"
        xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">

  <types>
    <xsd:element name="dummy" type="xsd:string"/>
    <xsd:element name="dummy2" type="xsd:string"/>
    <xsd:element name="acknowledgement" type="xsd:string"/>
  </types>

  <wsdl:message name="DummyMessage">
    <wsdl:part name="payload" element="tns:dummy"/>
  </wsdl:message>

  <wsdl:message name="Dummy2Message">
    <wsdl:part name="payload" element="tns:dummy2"/>
  </wsdl:message>

  <wsdl:message name="EndpointMessage">
    <wsdl:part name="payload" element="xsd:string"/>
  </wsdl:message>

  <wsdl:message name="WSAEndpointMessage">
    <wsdl:part name="payload" element="wsa:EndpointReference"/>
  </wsdl:message>

  <wsdl:message name="AcknowledgementMessage">
    <wsdl:part name="payload" element="tns:acknowledgement"/>
  </wsdl:message>

  <wsdl:portType name="DynResponderPortType">
    <wsdl:operation name="getDynamicEndpoint">
      <wsdl:input message="tns:DummyMessage" name="dummy"/>
      <wsdl:output message="tns:EndpointMessage" name="endpoint"/>
    </wsdl:operation>
    <wsdl:operation name="acknowledge">
      <wsdl:input message="tns:Dummy2Message" name="dummy2"/>
      <wsdl:output message="tns:AcknowledgementMessage" name="ack"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="DynResponderBinding" type="tns:DynResponderPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDynamicEndpoint">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body namespace="http://ode/bpel/responder.wsdl" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://ode/bpel/responder.wsdl" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledge">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body namespace="http://ode/bpel/responder.wsdl" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://ode/bpel/responder.wsdl" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="DynResponderService">
    <wsdl:port name="DynResponderPort" binding="tns:DynResponderBinding">
      <soap:address location="http://localhost:8080/ode/soap/dynresponder"/>
    </wsdl:port>
  </wsdl:service>

  <plnk:partnerLinkType name="ResponderPartnerLinkType">
      <plnk:role name="responder" portType="tns:DynResponderPortType"/>
  </plnk:partnerLinkType>

  <bpws:property name="dummyProp" type="xsd:string"/>
  <bpws:propertyAlias propertyName="tns:dummyProp" messageType="tns:DummyMessage"
                      part="payload"/>
  <bpws:propertyAlias propertyName="tns:dummyProp" messageType="tns:Dummy2Message"
                      part="payload"/>

</wsdl:definitions>