axis2/src/test/resources/raja1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.sdc.maximus.com" xmlns:tns="http://ws.sdc.maximus.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified"
            targetNamespace="http://ws.sdc.maximus.com">
   <xsd:element name="addNumbers">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="Number1" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="Number2" type="xsd:long"/>
         </xsd:sequence>

      </xsd:complexType>
   </xsd:element>
   <xsd:element name="addNumbersResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:long"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>

   <xsd:element name="multiplyNumbers">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="Number1" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="Number2" type="xsd:long"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="multiplyNumbersResponse">

      <xsd:complexType>
         <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:long"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>  </wsdl:types>
  <wsdl:message name="multiplyNumbersResponse">
    <wsdl:part name="parameters" element="tns:multiplyNumbersResponse"/>

  </wsdl:message>
  <wsdl:message name="addNumbersResponse">
    <wsdl:part name="parameters" element="tns:addNumbersResponse"/>
  </wsdl:message>
  <wsdl:message name="multiplyNumbersRequest">
    <wsdl:part name="parameters" element="tns:multiplyNumbers"/>
  </wsdl:message>
  <wsdl:message name="addNumbersRequest">
    <wsdl:part name="parameters" element="tns:addNumbers"/>

  </wsdl:message>
  <wsdl:portType name="SimpleServicesPortType">
    <wsdl:operation name="addNumbers">
      <wsdl:input name="addNumbersRequest" message="tns:addNumbersRequest"/>
      <wsdl:output name="addNumbersResponse" message="tns:addNumbersResponse"/>
    </wsdl:operation>
    <wsdl:operation name="multiplyNumbers">
      <wsdl:input name="multiplyNumbersRequest" message="tns:multiplyNumbersRequest"/>
      <wsdl:output name="multiplyNumbersResponse" message="tns:multiplyNumbersResponse"/>

    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimpleServicesHttpBinding" type="tns:SimpleServicesPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addNumbers">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="addNumbersRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>

      <wsdl:output name="addNumbersResponse">
        <wsdlsoap:body use="literal" style="rpc"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplyNumbers">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="multiplyNumbersRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>

      <wsdl:output name="multiplyNumbersResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleServices">
    <wsdl:port name="SimpleServicesHttpPort" binding="tns:SimpleServicesHttpBinding">
      <wsdlsoap:address location="http://10.23.1.199:8080/SimpleWebService/services/SimpleServices"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
