bpel-test/src/test/resources/bpel/2.0/TestToQuery/QueryTest1.wsdl

<?xml version="1.0"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<definitions name="QueryTest1"
        targetNamespace="mynamespace"
        xmlns:tns="mynamespace"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        >
        
    <types>
        <schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
                targetNamespace="mynamespace" 
                xmlns="http://www.w3.org/2001/XMLSchema">

            <element name="QueryTest1Request" type="int" />
            <element name="QueryTest1Response" type="string" />
        
            <complexType name="RecordType">
            	<sequence>
            		<element name="SomeValue" type="string"></element>
            		<element name="AnotherValue" type="string"></element>
            	</sequence>
            </complexType>
        
            <complexType name="RecordSetType">
            	<sequence>
            		<element ref="tns:Record" minOccurs="0" maxOccurs="unbounded"></element>
            	</sequence>
            </complexType>
            
            <element name="Record" type="tns:RecordType"></element>
            <element name="RecordSet" type="tns:RecordSetType"></element>
        </schema>
    </types>
    
    <message name="QueryTest1RequestMessage">
        <part name="payload" element="tns:QueryTest1Request"/>
    </message>
    <message name="QueryTest1ResponseMessage">
        <part name="payload" element="tns:QueryTest1Response"/>
    </message>
    
    <portType name="QueryTest1">
        <operation name="process">
            <input  message="tns:QueryTest1RequestMessage" />
            <output message="tns:QueryTest1ResponseMessage"/>
        </operation>
    </portType>
    
    <plnk:partnerLinkType name="QueryTest1">
        <plnk:role name="QueryTest1Provider" portType="tns:QueryTest1"/>
    </plnk:partnerLinkType>
    
    <binding name="QueryTest1Binding" type="tns:QueryTest1">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    	<operation name="process">
    		<soap:operation soapAction="mynamespace/process" />
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
    </binding>
    
    <service name="QueryTest1Service">
        <port name="QueryTest1Port" binding="tns:QueryTest1Binding">
        	<soap:address location="http://localhost:8888/ode/QueryTest1" />
        </port>
    </service>
</definitions>
