bpel-test/src/test/resources/bpel/2.0/TestCorrelationMultiJoin/testCorrelation.wsdl

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<wsdl:definitions
        targetNamespace="http://ode/bpel/unit-test/testCorrelation.wsdl"
        xmlns:tns="http://ode/bpel/unit-test/testCorrelation.wsdl"
        xmlns:typens="http://ode/bpel/unit-test/testCorrelation.wsdl.types"
        xmlns="http://ode/bpel/unit-test/testCorrelation.wsdl"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:bpws="http://docs.oasis-open.org/wsbpel/2.0/process/executable"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:prop="http://docs.oasis-open.org/wsbpel/2.0/varprop">


    <!-- type defs -->
    <wsdl:types>
        <xsd:schema
                targetNamespace="http://ode/bpel/unit-test/testCorrelation.wsdl.types"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:complexType name="testMessage">
                <xsd:sequence>
                    <xsd:element name="correlationID1" type="xsd:string"/>
                    <xsd:element name="correlationID2" type="xsd:string"/>
                    <xsd:element name="correlationID3" type="xsd:string"/>
                    <xsd:element name="requestText" type="xsd:string"/>
                    <xsd:element name="requestEnd" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>


    <wsdl:message name="requestMessage">
        <wsdl:part name="requestMessageData" type="typens:testMessage"/>
    </wsdl:message>

    <wsdl:message name="replyMessage">
        <wsdl:part name="replyID" type="xsd:string"/>
        <wsdl:part name="replyText" type="xsd:string"/>
    </wsdl:message>


    <wsdl:portType name="testCorrelationPT">
        <wsdl:operation name="request">
            <wsdl:input message="requestMessage"/>
            <wsdl:output message="replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="continue">
            <wsdl:input message="requestMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="TestCorrelationBinding" type="tns:testCorrelationPT">
        <wsdl:operation name="request">
        </wsdl:operation>
        <wsdl:operation name="continue">
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TestCorrelationService">
        <wsdl:port name="TestCorrelationPort" binding="tns:TestCorrelationBinding">
        </wsdl:port>
    </wsdl:service>

    <plnk:partnerLinkType name="testCorrelationRequest">
        <plnk:role name="testCorrelationService" portType="testCorrelationPT"/>
    </plnk:partnerLinkType>

    <prop:property name="testCorrelationID1" type="xsd:string"/>
    <prop:propertyAlias propertyName="tns:testCorrelationID1" messageType="tns:requestMessage" part="requestMessageData">
        <prop:query queryLanguage="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath2.0">
            correlationID1
        </prop:query>
    </prop:propertyAlias>

    <prop:property name="testCorrelationID2" type="xsd:string"/>
    <prop:propertyAlias propertyName="tns:testCorrelationID2" messageType="tns:requestMessage" part="requestMessageData">
        <prop:query queryLanguage="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath2.0">
            correlationID2
        </prop:query>
    </prop:propertyAlias>

    <prop:property name="testCorrelationID3" type="xsd:string"/>
    <prop:propertyAlias propertyName="tns:testCorrelationID3" messageType="tns:requestMessage" part="requestMessageData">
        <prop:query queryLanguage="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath2.0">
            correlationID3
        </prop:query>
    </prop:propertyAlias>
</wsdl:definitions>