axis2-war/src/test/resources/TestEndpointTimeouts/dummy-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:ns0="http://axis2.ode.apache.org/xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ns1="http://axis2.ode.apache.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://axis2.ode.apache.org">
   <wsdl:types>
      <xs:schema xmlns:ns="http://axis2.ode.apache.org" attributeFormDefault="qualified"
                 elementFormDefault="unqualified" targetNamespace="http://axis2.ode.apache.org">

         <xs:element name="DummyException">
            <xs:complexType>
               <xs:sequence>
                   <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="faultTest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="in" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="faultTestResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="hello">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="in" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="helloResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="longOperation">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="in" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="longOperationResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="faultTestRequest">
      <wsdl:part name="parameters" element="ns1:faultTest"/>
   </wsdl:message>
   <wsdl:message name="faultTestResponse">
      <wsdl:part name="parameters" element="ns1:faultTestResponse"/>
   </wsdl:message>
   <wsdl:message name="DummyExceptionType">
      <wsdl:part name="parameters" element="ns1:DummyException"/>
   </wsdl:message>
   <wsdl:message name="helloRequest">
      <wsdl:part name="parameters" element="ns1:hello"/>
   </wsdl:message>
   <wsdl:message name="helloResponse">
      <wsdl:part name="parameters" element="ns1:helloResponse"/>
   </wsdl:message>
   <wsdl:message name="longOperationRequest">
      <wsdl:part name="parameters" element="ns1:longOperation"/>
   </wsdl:message>
   <wsdl:message name="longOperationResponse">
      <wsdl:part name="parameters" element="ns1:longOperationResponse"/>
   </wsdl:message>
   <wsdl:portType name="DummyServicePortType">
      <wsdl:operation name="faultTest">
         <wsdl:input message="ns1:faultTestRequest" wsaw:Action="urn:faultTest"/>
         <wsdl:output message="ns1:faultTestResponse" wsaw:Action="urn:faultTestResponse"/>
         <wsdl:fault message="ns1:DummyExceptionType" name="DummyException"
                     wsaw:Action="urn:faultTestDummyException"/>
      </wsdl:operation>
      <wsdl:operation name="hello">
         <wsdl:input message="ns1:helloRequest" wsaw:Action="urn:hello"/>
         <wsdl:output message="ns1:helloResponse" wsaw:Action="urn:helloResponse"/>
      </wsdl:operation>
      <wsdl:operation name="longOperation">
         <wsdl:input message="ns1:longOperationRequest" wsaw:Action="urn:longOperation"/>
         <wsdl:output message="ns1:longOperationResponse" wsaw:Action="urn:longOperationResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="DummyServiceSOAP11Binding" type="ns1:DummyServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="faultTest">
         <soap:operation soapAction="urn:faultTest" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="DummyException">
            <soap:fault use="literal" name="DummyException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="hello">
         <soap:operation soapAction="urn:hello" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
       <wsdl:operation name="longOperation">
         <soap:operation soapAction="urn:longOperation" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="DummyService">
      <wsdl:port name="DummyServiceSOAP11port_http" binding="ns1:DummyServiceSOAP11Binding">
         <soap:address location="http://localhost:8888/processes/DummyService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>