bpel-scripts/src/main/resources/2.0/good/rethrow/test.wsdl

<?xml version="1.0" encoding="utf-8" ?>

<wsdl:definitions 
    targetNamespace="http://pxe/bpel/unit-test.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://pxe/bpel/unit-test.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
    xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
   
    <wsdl:types>
      <xsd:schema 
        xmlns="http://pxe/bpel/unit-test.wsdl" 
      	targetNamespace="http://pxe/bpel/unit-test.wsdl">
       <xsd:element name="TestElement" type="xsd:string"/>
      </xsd:schema>
  </wsdl:types>
   
    <wsdl:message name="TestMessage1">
        <wsdl:part name="TestPart" type="xsd:string"/>
        <wsdl:part name="ElementPart" element="tns:TestElement"/>
    </wsdl:message>
    
    <wsdl:message name="TestMessage2">
        <wsdl:part name="ElementPart" element="tns:TestElement"/>
    </wsdl:message>
        
    <wsdl:portType name="TestPortType">
        <wsdl:operation name="testOperation">
            <wsdl:input message="tns:TestMessage1" name="TestIn"/>
            <wsdl:output message="tns:TestMessage1" name="TestOut"/>
            <wsdl:fault message="tns:TestMessage1" name="testFault1"/>
            <wsdl:fault message="tns:TestMessage1" name="testFault2"/>
        </wsdl:operation>
        <wsdl:operation name="testOperation2">
            <wsdl:input message="tns:TestMessage2" name="TestIn"/>
            <wsdl:output message="tns:TestMessage2" name="TestOut"/>
        </wsdl:operation>
    </wsdl:portType> 
   <bpws:property name="testProp"
                   type="xsd:string"/>
   <plnk:partnerLinkType name="TestPartnerLinkType">
       <plnk:role name="me" portType="tns:TestPortType"/>
       <plnk:role name="you" portType="tns:TestPortType"/>
    </plnk:partnerLinkType>
    
   
</wsdl:definitions>

