_br-ode-1.X.svn/bpel-test/src/test/resources/bpel/2.0/TestCounter/counter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<wsdl:definitions
    targetNamespace="http://example.com/bpel/counter" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:v="http://docs.oasis-open.org/wsbpel/2.0/varprop"
    xmlns:t="http://example.com/bpel/counter">
  
  <wsdl:message name="requestMessage">
    <wsdl:part name="counterName" type="xsd:string" />
  </wsdl:message>
  
  <wsdl:message name="responseMessage">
    <wsdl:part name="value" type="xsd:int" />
  </wsdl:message>
  
  <wsdl:portType name="port">
    <wsdl:operation name="initialize">
      <wsdl:input message="t:requestMessage" />
      <wsdl:output message="t:responseMessage" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input message="t:requestMessage" />
      <wsdl:output message="t:responseMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAndIncrement">
      <wsdl:input message="t:requestMessage" />
      <wsdl:output message="t:responseMessage" />
    </wsdl:operation>
    <wsdl:operation name="close">
      <wsdl:input message="t:requestMessage" />
      <wsdl:output message="t:responseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="binding" type="t:port">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initialize">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input>
        <soap:body namespace="http://example.com/bpel/counter" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://example.com/bpel/counter" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input>
        <soap:body namespace="http://example.com/bpel/counter" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://example.com/bpel/counter" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAndIncrement">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input>
        <soap:body namespace="http://example.com/bpel/counter" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://example.com/bpel/counter" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="close">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input>
        <soap:body namespace="http://example.com/bpel/counter" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://example.com/bpel/counter" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="counterService">
    <wsdl:port name="port" binding="t:binding">
      <soap:address location="http://localhost:8080/ode/processes/counter"/>
    </wsdl:port>
  </wsdl:service>
  
  <p:partnerLinkType name="plink">
    <p:role name="me" portType="t:port" />
    <p:role name="you" portType="t:port" />
  </p:partnerLinkType>
  
</wsdl:definitions>