_br-ode-1.X.svn/bpel-test/src/test/resources/bpel/2.0/TestConcurrentSyncMex/NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile" targetNamespace="http://www.example.org/NewWSDLFile/">
<wsdl:types>
  <xsd:schema>
    <xsd:import namespace="http://www.example.org/NewWSDLFile/"
                schemaLocation="schema.xsd"/>
  </xsd:schema>
</wsdl:types>
<wsdl:message name="NewOperationRequest">
<wsdl:part element="tns:NewOperation" name="parameters"/>
</wsdl:message>
<wsdl:message name="NewOperationResponse">
<wsdl:part element="tns:NewOperationResponse" name="parameters"/>
</wsdl:message>
    <wsdl:message name="RespOperationRequest">
    	<wsdl:part name="parameters" element="tns:RespOperation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="RespOperationResponse">
    	<wsdl:part name="parameters" element="tns:RespOperationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="NewWSDLFile">
<wsdl:operation name="NewOperation">
<wsdl:input message="tns:NewOperationRequest"/>
<wsdl:output message="tns:NewOperationResponse"/>
</wsdl:operation>
        <wsdl:operation name="RespOperation">
        	<wsdl:input message="tns:RespOperationRequest"></wsdl:input>
        	<wsdl:output message="tns:RespOperationResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
<wsdl:binding name="NewWSDLFileSOAP" type="tns:NewWSDLFile">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="NewOperation">
<soap:operation soapAction="http://www.example.org/NewWSDLFile/NewOperation"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="NewWSDLFile">
<wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
<soap:address location="http://www.example.org/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
