bpel-test/src/test/resources/bpel/2.0/TestInsertMissingData/TestInsertMissingData.wsdl

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->
<wsdl:definitions 
  targetNamespace="http://ode/bpel/unit-test/TestInsertMissingData.wsdl"
  xmlns:tns="http://ode/bpel/unit-test/TestInsertMissingData.wsdl"
  xmlns:typens="http://ode/bpel/unit-test/TestInsertMissingData.wsdl.types"
  xmlns="http://ode/bpel/unit-test/TestInsertMissingData.wsdl"
  xmlns:prb="http://ode/bpel/unit-test/ProbeService.wsdl"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"      
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">

   <wsdl:types>
 
     <xsd:schema
       targetNamespace="http://ode/bpel/unit-test/TestInsertMissingData.wsdl.types"
       xmlns="http://ode/bpel/unit-test/TestInsertMissingData.wsdl.types"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      
      <xsd:element name="aTestMessage" type="testMessage"></xsd:element>
	  <xsd:element name="indicator" type="xsd:string" abstract="true"/>
	  <xsd:element name="indicatorOne" type="xsd:string" substitutionGroup="indicator"/>
	  <xsd:element name="indicatorTwo" type="xsd:string" substitutionGroup="indicator"/>
      
      <xsd:complexType name="typeIndicator">
	    <xsd:sequence>
	         <xsd:element ref="indicatorOne"/>
	         <xsd:element ref="indicatorTwo"/>
        </xsd:sequence>
	  </xsd:complexType>
      <xsd:complexType name="testMessage">
        <xsd:sequence>
             <xsd:element name="requestID" type="xsd:string"/>
             <xsd:element name="requestText" type="xsd:string"/>
             <xsd:element name="typeIndicators" type="typeIndicator"/>
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="requestMessage">
    <wsdl:part name="requestMessageData" element="typens:aTestMessage"/>
  </wsdl:message>
   
  <wsdl:message name="replyMessage">
    <wsdl:part name="replyID" type="xsd:string"/>
    <wsdl:part name="replyText" type="xsd:string"/>
  </wsdl:message>
   
  <wsdl:portType name="TestInsertMissingDataPT">
    <wsdl:operation name="request">
      <wsdl:input message="requestMessage"/>
      <wsdl:output message="replyMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="TestInsertMissingDataBinding" type="tns:TestInsertMissingDataPT">
    <wsdl:operation name="request">
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestInsertMissingDataService">
    <wsdl:port name="TestInsertMissingDataPort" binding="tns:TestInsertMissingDataBinding">
    </wsdl:port>
  </wsdl:service>

  <plnk:partnerLinkType name="TestInsertMissingDataRequest">
    <plnk:role name="TestInsertMissingDataService" portType="TestInsertMissingDataPT"/>
   </plnk:partnerLinkType>

   <plnk:partnerLinkType name="probeRequest">
	<plnk:role name="probeService" portType="prb:probeMessagePT"/>
   </plnk:partnerLinkType>
   
  <vprop:property name="testProbeID" type="xsd:string"/>
  <vprop:propertyAlias propertyName="tns:testProbeID" messageType="tns:requestMessage"/>
  
  <vprop:property name="testPath" type="xsd:string"/>
  <vprop:propertyAlias propertyName="tns:testPath" messageType="tns:requestMessage" part="requestMessageData">
    <vprop:query queryLanguage="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath2.0">
      typeIndicators/typens:indicatorTwo
    </vprop:query> 
  </vprop:propertyAlias>

</wsdl:definitions>
