bpel-test/src/test/resources/bpel/2.0/NegativeInitializationTest/NegativeInitializationTest.wsdl

<!--
   ~ Licensed to the Apache Software Foundation (ASF) under one
   ~ or more contributor license agreements.  See the NOTICE file
   ~ distributed with this work for additional information
   ~ regarding copyright ownership.  The ASF licenses this file
   ~ to you under the Apache License, Version 2.0 (the
   ~ "License"); you may not use this file except in compliance
   ~ with the License.  You may obtain a copy of the License at
   ~
   ~    http://www.apache.org/licenses/LICENSE-2.0
   ~
   ~ Unless required by applicable law or agreed to in writing,
   ~ software distributed under the License is distributed on an
   ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
   ~ KIND, either express or implied.  See the License for the
   ~ specific language governing permissions and limitations
   ~ under the License.
-->

<wsdl:definitions 
   targetNamespace="http://ode/bpel/unit-test/NegativeInitializationTest.wsdl"
   xmlns:tns="http://ode/bpel/unit-test/NegativeInitializationTest.wsdl"
   xmlns:typens="http://ode/bpel/unit-test/NegativeInitializationTest.wsdl.types"
   xmlns="http://ode/bpel/unit-test/NegativeInitializationTest.wsdl"
   xmlns:prb="http://ode/bpel/unit-test/ProbeService.wsdl"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"      
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:bpws="http://docs.oasis-open.org/wsbpel/2.0/process/executable">


   <wsdl:types>
    <xsd:schema
       targetNamespace="http://ode/bpel/unit-test/NegativeInitializationTest.wsdl.types"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <xsd:complexType name="testMessage">
        <xsd:sequence>
          <xsd:element name="requestID" type="xsd:string"/>
          <xsd:element name="requestText" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
   </wsdl:types>

   <wsdl:message name="requestMessage">
      <wsdl:part name="requestMessageData" type="typens:testMessage"/>
   </wsdl:message>

   <wsdl:message name="replyMessage">
      <wsdl:part name="replyID" type="xsd:string"/>
      <wsdl:part name="replyText" type="xsd:string"/>
   </wsdl:message>


   <wsdl:portType name="NegativeInitializationTestPT">
      <wsdl:operation name="request">
         <wsdl:input message="requestMessage"/>
      </wsdl:operation>
      <wsdl:operation name="event1">
         <wsdl:input message="requestMessage"/>
      </wsdl:operation>
      <wsdl:operation name="event2">
         <wsdl:input message="requestMessage"/>
      </wsdl:operation>
      <wsdl:operation name="continue1">
         <wsdl:input message="requestMessage"/>
      </wsdl:operation>
      <wsdl:operation name="continue2">
         <wsdl:input message="requestMessage"/>
         <wsdl:output message="replyMessage"/>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="NegativeInitializationTestBinding" type="tns:NegativeInitializationTestPT">
      <wsdl:operation name="request">
      </wsdl:operation>
      <wsdl:operation name="event1">
      </wsdl:operation>
      <wsdl:operation name="event2">
      </wsdl:operation>
      <wsdl:operation name="continue1">
      </wsdl:operation>
      <wsdl:operation name="continue2">
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="NegativeInitializationTestService">
      <wsdl:port name="NegativeInitializationTestPort" binding="tns:NegativeInitializationTestBinding">
      </wsdl:port>
   </wsdl:service>

   <bpws:property name="testProbeID" type="xsd:string"/>
   <bpws:propertyAlias propertyName="tns:testProbeID" messageType="tns:requestMessage" part="requestMessageData">
      <bpws:query queryLanguage="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath2.0">
         testMessage/requestID
      </bpws:query>
   </bpws:propertyAlias>
   
   <bpws:property name="testProbeData" type="xsd:string"/>
   <bpws:propertyAlias propertyName="tns:testProbeData" messageType="tns:requestMessage" part="requestMessageData">
      <bpws:query queryLanguage="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath2.0">
         testMessage/requestText
      </bpws:query>
   </bpws:propertyAlias>
   

   <plnk:partnerLinkType name="NegativeInitializationTestRequest">
      <plnk:role name="NegativeInitializationTestService" portType="NegativeInitializationTestPT"/>
   </plnk:partnerLinkType>

   <plnk:partnerLinkType name="probeRequest">
	<plnk:role name="probeService" portType="prb:probeMessagePT"/>
   </plnk:partnerLinkType>

</wsdl:definitions>
