bpel-test/src/test/resources/bpel/2.0/TestDynamicPick/TestDynamicPick.wsdl

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<wsdl:definitions 
  targetNamespace="http://ode/bpel/unit-test/TestDynamicPick.wsdl"
  xmlns:tns="http://ode/bpel/unit-test/TestDynamicPick.wsdl"
  xmlns:typens="http://ode/bpel/unit-test/TestDynamicPick.wsdl.types"
  xmlns="http://ode/bpel/unit-test/TestDynamicPick.wsdl"
  xmlns:prb="http://ode/bpel/unit-test/ProbeService.wsdl"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"      
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:bpws="http://docs.oasis-open.org/wsbpel/2.0/process/executable"
  xmlns:prop="http://docs.oasis-open.org/wsbpel/2.0/varprop">

        
  <wsdl:types>
    <xsd:schema
      targetNamespace="http://ode/bpel/unit-test/TestDynamicPick.wsdl.types"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <xsd:complexType name="testMessage">
        <xsd:sequence>
          <xsd:element name="requestID" type="xsd:string"/>
          <xsd:element name="requestKey1" type="xsd:string"/>
          <xsd:element name="requestKey2" type="xsd:string"/>
          <xsd:element name="requestText" type="xsd:string"/>
          <xsd:element name="requestEnd" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="requestMessage">
    <wsdl:part name="requestMessageData" type="typens:testMessage"/>
  </wsdl:message>
   
  <wsdl:message name="replyMessage">
    <wsdl:part name="replyID" type="xsd:string"/>
    <wsdl:part name="replyText" type="xsd:string"/>
  </wsdl:message>

 
  <wsdl:portType name="TestDynamicPickPT">
    <wsdl:operation name="request">
      <wsdl:input message="requestMessage"/>
      <wsdl:output message="replyMessage"/>
    </wsdl:operation>
    <wsdl:operation name="continue1">
      <wsdl:input message="requestMessage"/>
    </wsdl:operation>
    <wsdl:operation name="continue2">
      <wsdl:input message="requestMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="TestDynamicPickBinding" type="tns:TestDynamicPickPT">
    <wsdl:operation name="request">
    </wsdl:operation>
    <wsdl:operation name="continue1">
    </wsdl:operation>
    <wsdl:operation name="continue2">
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestDynamicPickService">
    <wsdl:port name="TestDynamicPickPort" binding="tns:TestDynamicPickBinding">
    </wsdl:port>
  </wsdl:service>

  <plnk:partnerLinkType name="TestDynamicPickRequest">
    <plnk:role name="TestDynamicPickService" portType="TestDynamicPickPT"/>
   </plnk:partnerLinkType>

   <plnk:partnerLinkType name="probeRequest">
	<plnk:role name="probeService" portType="prb:probeMessagePT"/>
   </plnk:partnerLinkType>
   
  <prop:property name="testProbeKey1" type="xsd:string"/>
  <prop:propertyAlias propertyName="tns:testProbeKey1" messageType="tns:requestMessage" part="requestMessageData">
    <prop:query queryLanguage="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath2.0">
      requestKey1
    </prop:query>
  </prop:propertyAlias>
  
  <prop:property name="testProbeKey2" type="xsd:string"/>
  <prop:propertyAlias propertyName="tns:testProbeKey2" messageType="tns:requestMessage" part="requestMessageData">
    <prop:query queryLanguage="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath2.0">
      requestKey2
    </prop:query>
  </prop:propertyAlias>
  
  <prop:property name="testProbeID" type="xsd:string"/>
  <prop:propertyAlias propertyName="tns:testProbeID" messageType="tns:requestMessage" part="requestMessageData">
    <prop:query queryLanguage="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath2.0">
      requestID
    </prop:query>
  </prop:propertyAlias>
  
  <prop:property name="testProbeData" type="xsd:string"/>
  <prop:propertyAlias propertyName="tns:testProbeData" messageType="tns:requestMessage" part="requestMessageData">
    <prop:query queryLanguage="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath2.0">
      requestText
    </prop:query>
  </prop:propertyAlias>

</wsdl:definitions>
