_br-ode-1.X.svn/utils/src/test/resources/namespace_from_wsdl_to_xsd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webservicex.net" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webservicex.net" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webservicex.net">
      <s:element name="GetGeoIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGeoIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetGeoIPResult" type="s0:GeoIP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GeoIP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnCodeDetails" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGeoIPContext">
        <s:complexType />
      </s:element>
      <s:element name="GetGeoIPContextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetGeoIPContextResult" type="s0:GeoIP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeoIP" type="s0:GeoIP" />
    </s:schema>
  </types>
  <message name="GetGeoIPSoapIn">
    <part name="parameters" element="s0:GetGeoIP" />
  </message>
  <message name="GetGeoIPSoapOut">
    <part name="parameters" element="s0:GetGeoIPResponse" />
  </message>
  <message name="GetGeoIPContextSoapIn">
    <part name="parameters" element="s0:GetGeoIPContext" />
  </message>
  <message name="GetGeoIPContextSoapOut">
    <part name="parameters" element="s0:GetGeoIPContextResponse" />
  </message>
  <message name="GetGeoIPHttpGetIn">
    <part name="IPAddress" type="s:string" />
  </message>
  <message name="GetGeoIPHttpGetOut">
    <part name="Body" element="s0:GeoIP" />
  </message>
  <message name="GetGeoIPContextHttpGetIn" />
  <message name="GetGeoIPContextHttpGetOut">
    <part name="Body" element="s0:GeoIP" />
  </message>
  <message name="GetGeoIPHttpPostIn">
    <part name="IPAddress" type="s:string" />
  </message>
  <message name="GetGeoIPHttpPostOut">
    <part name="Body" element="s0:GeoIP" />
  </message>
  <message name="GetGeoIPContextHttpPostIn" />
  <message name="GetGeoIPContextHttpPostOut">
    <part name="Body" element="s0:GeoIP" />
  </message>
  <portType name="GeoIPServiceSoap">
    <operation name="GetGeoIP">
      <documentation>GeoIPServicev - GetGeoIP enables you to easily look up countries by IP addresses</documentation>
      <input message="s0:GetGeoIPSoapIn" />
      <output message="s0:GetGeoIPSoapOut" />
    </operation>
    <operation name="GetGeoIPContext">
      <documentation>GeoIPServicev - GetGeoIPContext enables you to easily look up countries by Context</documentation>
      <input message="s0:GetGeoIPContextSoapIn" />
      <output message="s0:GetGeoIPContextSoapOut" />
    </operation>
  </portType>
  <portType name="GeoIPServiceHttpGet">
    <operation name="GetGeoIP">
      <documentation>GeoIPServicev - GetGeoIP enables you to easily look up countries by IP addresses</documentation>
      <input message="s0:GetGeoIPHttpGetIn" />
      <output message="s0:GetGeoIPHttpGetOut" />
    </operation>
    <operation name="GetGeoIPContext">
      <documentation>GeoIPServicev - GetGeoIPContext enables you to easily look up countries by Context</documentation>
      <input message="s0:GetGeoIPContextHttpGetIn" />
      <output message="s0:GetGeoIPContextHttpGetOut" />
    </operation>
  </portType>
  <portType name="GeoIPServiceHttpPost">
    <operation name="GetGeoIP">
      <documentation>GeoIPServicev - GetGeoIP enables you to easily look up countries by IP addresses</documentation>
      <input message="s0:GetGeoIPHttpPostIn" />
      <output message="s0:GetGeoIPHttpPostOut" />
    </operation>
    <operation name="GetGeoIPContext">
      <documentation>GeoIPServicev - GetGeoIPContext enables you to easily look up countries by Context</documentation>
      <input message="s0:GetGeoIPContextHttpPostIn" />
      <output message="s0:GetGeoIPContextHttpPostOut" />
    </operation>
  </portType>
  <binding name="GeoIPServiceSoap" type="s0:GeoIPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetGeoIP">
      <soap:operation soapAction="http://www.webservicex.net/GetGeoIP" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetGeoIPContext">
      <soap:operation soapAction="http://www.webservicex.net/GetGeoIPContext" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GeoIPServiceHttpGet" type="s0:GeoIPServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="GetGeoIP">
      <http:operation location="/GetGeoIP" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetGeoIPContext">
      <http:operation location="/GetGeoIPContext" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="GeoIPServiceHttpPost" type="s0:GeoIPServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="GetGeoIP">
      <http:operation location="/GetGeoIP" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetGeoIPContext">
      <http:operation location="/GetGeoIPContext" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="GeoIPService">
    <documentation>GeoIPService enables you to easily look up countries by IP address / Context</documentation>
    <port name="GeoIPServiceSoap" binding="s0:GeoIPServiceSoap">
      <soap:address location="http://www.webservicex.com/geoipservice.asmx" />
    </port>
    <port name="GeoIPServiceHttpGet" binding="s0:GeoIPServiceHttpGet">
      <http:address location="http://www.webservicex.com/geoipservice.asmx" />
    </port>
    <port name="GeoIPServiceHttpPost" binding="s0:GeoIPServiceHttpPost">
      <http:address location="http://www.webservicex.com/geoipservice.asmx" />
    </port>
  </service>
</definitions>
